*.sln
*.suo
*.db
*.vcxproj
*.filters
*.user
*.ipch
*.log
*.obj
*.idb
*.pdb
*.lastbuildstate
*.tlog
Debug/
.vs/
*.iobj
*.ipdb
*.zip
BurnigIsland/Resource/
BurnigIsland/PositionX.dat
BurnigIsland/PositionY.dat
